.completed {
    background-color: black;
    color: white;
    text-decoration: line-through;
}

.App {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: firebrick;
    color: yellow;
}

.Header {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    border: 3px solid yellow;
    border-radius: 50%;
    padding: 20px;
    font-size: 2.5rem;
}

.button, .button2 {
    background-color: cadetblue;
    color: white;
    border-color: cadetblue;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

.list {
    background-color: darkblue;
    color: yellowgreen;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    /* height: 100px; */
}

.list-container {
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

input {
    width: 300px;
    margin: 5px;
    padding: 8px;
    font-size: 1.1rem;
}
